################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VBWinForm/.vs
/VBWinForm/VBWinForm/bin
/VBWinForm/VBWinForm/obj
