################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VBWinForm/.vs/VBWinForm/v15/Server/sqlite3
